<h1> What is your name?</h1>

<form action="/compliment" method="post">
  <!-- Name: -->
  <input type="text" name="userName" autofocus="autofocus"><br>
  <input type="text" name="nickname" autofocus="autofocus"><br>

  <input type="submit" value="Submit">
</form>

<br>
<a href="/">home</a>
