<h1> What is your name?</h1>

<form action="/compliment" method="post">
  Name: <br>
  <input type="text" name="userName" autofocus="autofocus"><br>
  Nickname: <br>
  <input type="text" name="nickname" autofocus="autofocus"><br>
<hr>
  <input type="submit" value="Submit" class="submitButton">
</form>
